################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/starter-web/config/applicationhost.config
/.vs/starter-web/v16/.suo
